<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/feed.xml" rel="alternate" title="Albatross" type="application/atom+xml">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "master" %>
    <% if is_blog_article? %>
      <title><%= current_article.title %> | Albatross</title>
    <% else %>
      <title>Albatross</title>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrap">
      <%= partial "header" %>
      <%= yield %>
      <%# <%= partial "footer" %>
    </div>
    <%= javascript_include_tag "all" %>
  </body>
</html>